<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Firebase Messenger</h1>
    </ion-header-bar>
    <ion-content class="center center-vertically">
        <div class="list">
            <label class="item item-input">
                <input type="text" id="email" placeholder="Email:">
            </label>
            <label class="item item-input">
                <input type="password" id="password" placeholder="Password:">
            </label>
            <button class="button button-assertive" ng-click="signUp()">Sign Up</button>
            <button class="button button-positive" ng-click="signIn()">Sign In</button>
        </div>
    </ion-content>
</ion-pane>